// color

$bgr-color: #2f303a;
$container: #ffffff;
$studio-header: #000000;
$secondary-color: #757575;
$primary-btn-color: #2196f3;
$background-hero: #c4c4c4;
$btn: #ffffff;
$primary-color: #212121;
$btn-prtf: #212121;
$btn-secondary: #188ce8;
$contact-footer: rgba(255, 255, 255, 0.6);
$our-team-nav-prtf: #f5f4fa;
$footer: #2f303a;
$line: #ececec;
$logo-web: #2196f3;
$logo-stydio-header: #000000;
$logo-footer: #ffffff;
$network: #afb1b8;

// animation
$transition-background-color:250ms cubic-bezier(0.4, 0, 0.2, 1);
$transform-transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);


// main-font-family

$main-font-family: "Roboto", sans-serif;
$main-font-size: 14px;
$main-letter-spacing: 0.03em;

